body {
    padding-top: 70px;
    position: relative;
    height: 100%;
    min-height: 100%;

}

#footer {
    position: relative;
    bottom: 0;
    height: 50px;
}



#main-content {
    padding-bottom: 50px;
}

a:hover.title, a:focus.title{
    color: #2A6496;
    text-decoration: None;
}

