
<script>
    var csrftoken = $('meta[name=csrf-token]').attr('content')

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            }
        }
    });

    $(function () {
        $("button[name='submitBtn']").click(function (e) {
                    $.ajax({
                        url: "{{url_for('blog.post_comment',url_title=article.url_title) }}",
                        data: $("#commentForm").serialize(),
                        type: 'POST',
                        success: function (response) {
                            grecaptcha.reset();
                            console.log(response);
                            var url = "{{ url_for('.get_comments', url_title=article.url_title) }}";
                            update_comment_area(url, function () {
                                register_reply_link(function () {
                                    $comment_textarea = $("textarea#comment");
                                    $comment_textarea.val("").blur();
                                    $("#leave_comment div h4").html("Leave a comment");
                                    $("#reply_to").removeAttr('value');
                                    var comment_id = response['id'];
                                    scroll2comment(comment_id);
                                })
                            });
                        },
                        error: function (error) {
                            grecaptcha.reset();
                            console.log(error);
                        },
                        dataType: 'json'
                    });
                    e.preventDefault();
                }
        )
    })
</script>


<div class="row" id="leave_comment">
    <div class="col-sm-8">
        <h4>Leave a comment</h4>
        <form id="commentForm" action="" method="post" class="form" role="form">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <input id="reply_to" name="reply_to" type="hidden">
            <input id="url_title" name="url_title" type="hidden" value="{{article.url_title}}">
            {% if current_user.is_authenticated() %}
            <input class="form-control" type="hidden" id="name" name="name" required="" value="{{current_user.username}}">
            <input class="form-control" type="hidden" id="user_id" name="user_id" value="{{current_user.id}}">
            <input class="form-control" id="email" name="email" required="" type="hidden" value="{{current_user.email}}">
            {% else %}
            <input class="form-control" type="hidden" id="user_id" name="user_id" value="">
            <div class="form-group "><label class="control-label">Name</label>
                <input class="form-control" id="name" name="name" required="" type="text" value="">
            </div>
            <div class="form-group "><label class="control-label">Email</label>
                <input class="form-control" id="email" name="email" required="" type="text" value="">
            </div>
            {% endif %}

            <div class="form-group "><label class="control-label">Comment</label>
                <textarea class="form-control" id="comment" name="comment" required=""></textarea>
            </div>
            <div class="form-group "><label class="control-label">Captcha</label>
                <div class="g-recaptcha" data-sitekey="6Lf6vQoTAAAAAF4blCtBD4HDbutDs_OeT58s4Xo7"></div>
            </div>
            <button type="submit" name="submitBtn" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>
