<div id="comments">
    <div class="row single_comment_tmpl" style="display: none">
        <div class="col-sm-2 gravatar">
            <!--<img src="#">-->
        </div>
        <div class="col-sm-6 commnent_body">
            <p class="basic_info">
                <span class='label label-primary floorNum'></span>
                <span class="label label-primary username"></span>
            </p>

            <p class="comment_receiver" style="display: none; font-size: 95%; margin: 0 auto">
                <span class="label label-danger">@</span>
                <a class="floorNum" href="#"><span class='label label-default floorNum'></span></a>
                <a class="username" href="#"><span class="label label-primary username"></span></a>
            </p>

            <p class="comment_content">
            </p>
            <div class="footer">
                <div class="date"></div>
                <a class="reply_comment" href="#">Reply</a>
            </div>
        </div>
    </div>

</div>