{% extends "blog_base.html" %}
{% block head %}
{{ super() }}
<script src="//tinymce.cachefly.net/4.2/tinymce.min.js"></script>
<script src={{url_for('static', filename='js/tag-it.js')}} type="text/javascript" charset="utf-8"></script>
<!--<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css">-->
<link href={{url_for('static',filename='css/jquery.tagit.css')}} rel="stylesheet" type="text/css">
<link href={{url_for('static',filename='css/tagit.ui-zendesk.css')}} rel="stylesheet" type="text/css">

<script>tinymce.init({
    selector:'#view textarea',
    plugins:'advlist autolink link image lists preview code',
    image_list: [
        {title: 'My image 1', value: 'http://www.tinymce.com/my1.gif'},
        {title: 'My image 2', value: 'http://www.moxiecode.com/my2.gif'}
    ]
    });
</script>



{% endblock %}


{% block content %}
{{ super() }}

{% for message in editForm.title.errors %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
{% endfor %}

{% for message in editForm.content_html.errors %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
{% endfor %}


<div class="container">

    <div class="col-sm-8">
        <div class="input-group">
            <span class="input-group-addon" id="sizing-addon1">Title:</span>
            <input id="titleinput" type="text" class="form-control" value="{{editForm.title.data}}" aria-describedby="sizing-addon1">
        </div>
        <br><br>
        <div id="tabs">
            <ul class="nav nav-tabs">
                <li class="active" role="presentation"><a href="#view">View</a></li>
                <li role="presentation"><a href="#source">Source</a></li>
            </ul>
        </div>
        <div id="tabs-content">
            <div id="view">
                <textarea>{{editForm.content_html.data}}</textarea>
            </div>
            <div id="source">
                <textarea style="width: inherit"></textarea>
            </div>
        </div>
        <br><br>
        <form name="editForm" action="" method="post">
            <input class="hidden" type="text" name="title">
            <input class="hidden" type="text" name="content_html">
            <input class="hidden" type="text" name="tags" value="{{editForm.tags.data}}">
            <p><input type="checkbox"
                      {% if editForm.public.data == True %}
                      checked
                      {% endif %}
                      name="public">&nbsp Public?</p>

            <p><input type="checkbox"
                      {% if editForm.allow_comment.data == True %}
                      checked
                      {% endif %}
                      name="allow_comment">&nbsp Allow Comment?</p>
            <div id="tagedit">
                <p>Tags</p>
                <ul id="myTags">
                </ul>
            </div>
            {{editForm.hidden_tag()}}

            <button type="button" name="submitBtn" class="btn btn-default">
                {% if func is not none and func == 'edit' %}
                Save Changes
                {% else %}
                Submit
                {% endif %}
            </button>
        </form>


    </div>
</div>
<script>


    jQuery(function ($) {

        $('#tabs-content #source').hide();

        $("#tabs a[href='#source']").click(function (e) {
            var html = tinymce.activeEditor.getContent({source_view: true});
            $("#tabs-content #source textarea").val(html);
            $("form[name='editForm']").hide();
            e.preventDefault();
        });

        $("#tabs a[href='#view']").click(function (e) {
            var html = $("#tabs-content #source textarea").val();
            tinymce.activeEditor.setContent(html);
            $("form[name='editForm']").show();
            e.preventDefault();
        });

        $('#tabs a').click(function(e){
            var currentValue = $(this).attr('href');
            $('#tabs-content '+currentValue).show().siblings().hide();
            $(this).parent('li').addClass('active').siblings().removeClass('active');
            e.preventDefault();
        });

        var tagList = $("form input[name='tags']").val().split(" ");
        console.log(tagList);
        tagList.map(function(tag) {
            $("#myTags").append($("<li>").html(tag));
        });
        $("#myTags").tagit();

        $("button[name='submitBtn']").click(function () {
            titleData = $(".input-group #titleinput").val();
            contentData = tinymce.activeEditor.getContent({source_view: true});
            $("form input[name='title']").val(titleData);
            $("form input[name='content_html']").val(contentData);

            var tagList = $("#myTags").tagit("assignedTags");
            var tagString = tagList.join(" ");
            $("form input[name='tags']").val(tagString);

            $("form[name='editForm']").submit();


        });

    });
</script>

{% endblock %}