{% extends "blog_base.html" %}

{% block head %}
{{ super() }}
<script src='https://www.google.com/recaptcha/api.js'></script>
<script src="{{url_for('static', filename='myfunc.js')}}"></script>
<script>
    function update_comment_area(callback) {
        $.ajax({
          url: "{{ url_for('.get_comments', url_title=article.url_title) }}",
          //data: data,
          success: function (response) {
              //update views
              show_comments(response, callback);
          },
          dataType: 'json'
        });
    };

    function register_reply_link(callback) {
        $("div.footer a.reply_comment").click(function (e) {
                        var to_username = $(this).attr('username');
                        var to_comment_id = $(this).attr('comment_id');
                        $("#leave_comment div h4").html("Reply to: "+ to_username);
                        $("#reply_to").val(to_comment_id);
                        var comment_top = $("#leave_comment").offset().top;
                        jQuery("html body").animate({scrollTop:comment_top},300);
                        $("textarea#comment").focus();
                        $("#leave_comment div h4").append("&nbsp;<a class='cancel' href='#'>Cancel</a>");
                        $("a.cancel").click(function (e) {
                            $("#leave_comment div h4").html("Leave a comment");
                            $("#reply_to").removeAttr('value');
                            e.preventDefault();
                        });
                        e.preventDefault();
                    });
        callback();
    }

    $(document).ready (function () {
        update_comment_area(register_reply_link);
    });

</script>
{% endblock %}

{% block content %}
<div class="container">
<div class="row">
    <div class="col-sm-8">
        <h1>{{article.title}}</h1>
        <p>{{article.content_html | safe }}</p>
        {% if current_user.is_admin() %}
        <a href="{{ url_for('blog.blog_edit',url_title=article.url_title) }}">Edit</a>
        {% endif %}

        {% include "_show_comments.html" %}

        {% include "_leave_comment.html" %}
    </div>
</div>
</div>

{% endblock %}