{% extends "blog_base.html" %}

{% block head %}
{{ super() }}
<script src='https://www.google.com/recaptcha/api.js'></script>
<script src="{{url_for('static', filename='myfunc.js')}}"></script>
<script>

    $(document).ready (function () {
        var url = "{{ url_for('.get_comments', url_title=article.url_title) }}";
        update_comment_area(url, register_reply_link);
    });

</script>
{% endblock %}

{% block content %}
{{ super() }}
<div class="container">
<div class="row">
    <div class="col-sm-8">
        <h1>{{article.title}}</h1>
        <p>{{article.content_html | safe }}</p>
        {% if current_user.is_admin() %}
        <a href="{{ url_for('blog.blog_edit',url_title=article.url_title) }}">Edit</a>
        {% endif %}

        {% include "_show_comments.html" %}

        {% include "_leave_comment.html" %}
    </div>
</div>
</div>

{% endblock %}