{% extends "base.html" %}
{% block head %}
{{ super() }}
<script src="//tinymce.cachefly.net/4.2/tinymce.min.js"></script>
<script></script>
<script>tinymce.init({
    selector:'#view textarea',
    plugins:'advlist autolink link image lists preview code',
    image_list: [
        {title: 'My image 1', value: 'http://www.tinymce.com/my1.gif'},
        {title: 'My image 2', value: 'http://www.moxiecode.com/my2.gif'}
    ]
    });
</script>


<script>
    $(document).ready(function () {
        $('#tabs-content #source').hide();

        $("#tabs a[href='#source']").click(function (e) {
            var html = tinymce.activeEditor.getContent({source_view: true});
            $("#tabs-content #source textarea").val(html);
            $("form[name='editForm']").hide();
            e.preventDefault();
        });

        $("#tabs a[href='#view']").click(function (e) {
            var html = $("#tabs-content #source textarea").val();
            tinymce.activeEditor.setContent(html);
            $("form[name='editForm']").show();
            e.preventDefault();
        });

        $('#tabs a').click(function(e){
            var currentValue = $(this).attr('href');
            $('#tabs-content '+currentValue).show().siblings().hide();
            $(this).parent('li').addClass('active').siblings().removeClass('active');
            e.preventDefault();
        });

        $("button[name='submitBtn']").click(function () {
            titleData = $(".col-sm-8 .input-group input #titleinput").val();
            contentData = tinymce.activeEditor.getContent({source_view: true});
            $("form input[name='title']").val(titleData);
            $("form input[name='content_html']").val(contentData);
//
//            $("form input[name='public']").attr("checked","checked");
//
//            $("form input[name='allow_comment']").attr("checked","checked");
            document.editForm.submit();
        })

//        $("#tabs-content #source textarea").change(function () {
//            tinymce.activeEditor.setContent($(this).val());
//        })

    });
</script>
{% endblock %}

{% block content %}
<div class="container">

    <div class="col-sm-8">
        <div class="input-group">
            <span class="input-group-addon" id="sizing-addon1">Title:</span>
            <input id="titleinput" type="text" class="form-control" value="{{editForm.title.data}}" aria-describedby="sizing-addon1">
        </div>
        <br><br>
        <div id="tabs">
            <ul class="nav nav-tabs">
                <li class="active" role="presentation"><a href="#view">View</a></li>
                <li role="presentation"><a href="#source">Source</a></li>
            </ul>
        </div>
        <div id="tabs-content">
            <div id="view">
                <textarea>{{editForm.content_html.data}}</textarea>
            </div>
            <div id="source">
                <textarea></textarea>
            </div>
        </div>
        <br><br>
        <form name="editForm" action="" method="post">
            <input type="text" name="title" value="{{editForm.title.data}}"  style="display: none">
            <input type="text" name="content_html" value="{{editForm.content_html.data}}"  style="display: none">
            <p><input type="checkbox"
                      {% if editForm.public.data == True %}
                      checked
                      {% endif %}
                      name="public">&nbsp Public?</p>

            <p><input type="checkbox"
                      {% if editForm.allow_comment.data == True %}
                      checked
                      {% endif %}
                      name="allow_comment">&nbsp Allow Comment?</p>
            {{editForm.hidden_tag()}}
            <button type="submit" name="submitBtn" class="btn btn-default">
                {% if func is not none and func == 'edit' %}
                Save Changes
                {% else %}
                Submit
                {% endif %}
            </button>
        </form>


    </div>
</div>

{% endblock %}