{% extends "blog_base.html" %}
{% import "_macros.html" as macros %}
{% block head %}
{{ super() }}
<script src="{{url_for('static', filename='blog_opr.js')}}"></script>
<script>
    $(function () {
        $("a#blog_remove").click(function (e) {
                    e.preventDefault();
                    var url_title = $(this).attr('url_title');
                    console.log(url_title);
                    var url = "{{url_for('blog.blog_remove', url_title='reserved')}}";

                    url = url.replace(/reserved/g, url_title);
                    console.log(url);
                    blog_remove(url, function() {
                       location.reload();
                    });
                }
        )
    })
</script>
{% endblock %}
{% block content %}
{{ super() }}
<div class="container">
<div class="row">
    <div class="col-sm-8">
    {% for article in articles %}
        {% include "_article_briefview.html" %}
    {% endfor %}

    {{ macros.pagination_widget(pagination,"blog.blog_overview") }}
    </div>

    <div class="col-sm-3 col-sm-offset-1">
        <p>Another row
        </p>
    </div>
</div>
</div>
{% endblock %}