{% extends "base.html" %}
{% block head %}
{{ super() }}
<script src="{{url_for('static',filename='jsrender.js')}}"></script>
<script src="{{url_for('static',filename='gallery.js')}}"></script>
<script>
    $(document).ready(function () {
        $("ul #gallery").addClass('active').siblings().removeClass('active');

        image_update = images_update_maker();
        image_update.next_images();
        var alock = lock();
        alock.release();
        $(window).scroll(function () {
            if ($(document).scrollTop() + $(window).height() >= $(document).height() ) {
                if(!image_update.isOver() && alock.status()) {
                    $('#loader').show();
                    alock.lock();
                    image_update.next_images(alock.release);

                }
            }
        });
    });
</script>



{% endblock %}

{% block content %}
<div class="container">
    <h>Test</h>
    <div id="nanshen" class="row">

    </div>
    <div class="container" id="loader">
        <img src="/static/gif/loading.gif" style="margin-left: auto; margin-right: auto; clear: both; display: block">
        <p style="text-align: center">Loading..</p>
    </div>

</div>

{% endblock %}