<!-- extend from base layout -->
{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<h2>Sign In</h2>

{% for message in form.username.errors %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
{% endfor %}

{% for message in form.password.errors %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
{% endfor %}

<div class="col-md-4">
    {{ wtf.quick_form(form) }}
</div>




{% endblock %}