{% extends 'base.html' %}
{% block head %}
{{ super() }}
<script src={{url_for('static', filename='js/jquery.Jcrop.min.js' )}}></script>
<link rel="stylesheet" href={{url_for('static', filename='css/jquery.Jcrop.css' )}}/>
<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#target').attr('src', e.target.result);
                $('#preview-pane .preview-container img').attr('src', e.target.result);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
    ;


    jQuery(function ($) {
        $("#image_upload").change(function () {
            readURL(this);
        });

        var jcrop_api;
        var boundx;
        var boundy;


        $preview = $('#preview-pane');
        console.log($preview.html());
        $pcnt = $('#preview-pane .preview-container');
        $pimg = $('#preview-pane .preview-container img');
        var xsize = $pcnt.width();
        var ysize = $pcnt.height();
        console.log('init', [xsize, ysize]);


        $('#target').load(function () {
            $(this).Jcrop({
                onChange: updatePreview,
                onSelect: updatePreview,
                aspectRatio: xsize / ysize,
            }, function () {
                var bounds = this.getBounds();
                boundx = bounds[0];
                boundy = bounds[1];
                console.log([boundx, boundy]);
                jcrop_api = this;
                //$preview.appendTo(jcrop_api.ui.holder);
            });
        });

        var updatePreview = function (c) {
            if (parseInt(c.w) > 0) {
                var rx = xsize / c.w;
                var ry = ysize / c.h;

                $pimg.css({
                    width: Math.round(rx * boundx) + 'px',
                    height: Math.round(ry * boundy) + 'px',
                    marginLeft: '-' + Math.round(rx * c.x) + 'px',
                    marginTop: '-' + Math.round(ry * c.y) + 'px'
                });
            }
        };
    });


</script>

{% endblock %}

{% block content %}
<title>Upload new File</title>
<div class="container">
    <h1>Upload New File</h1>

    <form action="" class='hidden' method=post enctype=multipart/form-data>
        <input class='form-control' name=file id="file" accept="image/gif, image/jpeg, image/png"/>
        <input class='form-control' type="text" name="title" id="title">
        <input class='form-control' type="text" name="description" id="description">
    </form>

    <form id="coords" class="coords" onsubmit="return false;" action="http://example.com/post.php">
        <label>X1 <input type="text" size="4" id="x1" name="x1"></label>
        <label>Y1 <input type="text" size="4" id="y1" name="y1"></label>
        <label>X2 <input type="text" size="4" id="x2" name="x2"></label>
        <label>Y2 <input type="text" size="4" id="y2" name="y2"></label>
        <label>W <input type="text" size="4" id="w" name="w"></label>
        <label>H <input type="text" size="4" id="h" name="h"></label>
    </form>

    <div class="row">
        <div class="col-lg-8" style="height: 550px">
            <img id='target' alt="[Jcrop Example]" style="display: block; visibility: visible; width: 602px; height: 400px; border: none; margin: 0px; padding: 0px; position: absolute; top: 0px; left: 0px; opacity: 0.6;">
        </div>

        <div id="preview-pane" class="col-lg-4">
            <div class="preview-container" style="width:400px; height:400px; overflow:hidden;">
                <img class="jcrop-preview" alt="Preview" >
            </div>
        </div>

    </div>


    <!--<img id="crop_img" height=320 width=320>-->
    <div>
        <form>
            <input class="form-control" id="image_upload" type="file" class="form-control" name="file"/>
        </form>
    </div>


</div>
{% endblock %}